{% extends "layout.jinja2" %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
<h1>Edit Profile</h1>
<form method="POST">
    <p>
        <label for="item">User Name: </label>
        <input type="text" name="user_name" value="{{data.user_name}}"/>
    </p>
    <p>
        <label for="item">First Name: </label>
        <input type="text" name="f_name" value="{{data.f_name}}"/>
    </p>
    <p>
        <label for="item">Last Name: </label>
        <input type="text" name="l_name" value="{{data.l_name}}"/>
    </p>
    <p>
        <label for="item">Email: </label>
        <input type="text" name="email" value="{{data.email}}"/>
    </p>
    <p>
        <label for="favorite_food">Favorite food:</label>
        <input type="text" name="favorite_food" value="{{ data.favorite_food}}"/>
    </p>
   
    <p>
        <label for="description">Description: </label>
        <textarea name="description">{{ data.description }}</textarea>
    </p>
    <p>
        <input type="submit" name="Edit Profile" />
    </p>
</form>

{% endblock %}